body{
    background-color: #151719;
    color:wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
    background-color: wheat;
    border: none;
    border-radius: 20px;
    padding: 20px;
    width:100%;
    margin-top: 10px;
    font-size: large;
    color:#151719
}
button:hover{
    background-color: #040;
    color:white;
}
.surprise{
    background-color: #68246D;
    color:white
}