body{
    background-color: #151719;
    color:wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button {
    background-color: wheat;
    border: none;
    border-radius: 20px;
    padding: 30px;
    width:100%;
    margin-top: 10px;
    font-size: large;
    color:#151719
}
button:hover{
    background-color: #040;
    color:white;
}
.surprise{
    background-color: #68246D;
    color:white
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
    color: black;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
